@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <h3>This is a simple web application to add, update and delete person by taking first name and last name as inputs</h3>

    <p>Click <a asp-area="" asp-controller="Person" asp-action="Index">Here</a> to see the list of persons</p>
</div>
